@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header h1 {
    padding: 0.5rem;
}

header {
    padding: 2rem;
    background-color: #2a2a2a;
    color: #ffd700;
    text-align: center;
}

.intro-section {
    padding: 3.5rem;
    display: flex; 
    align-items: center; 
    gap: 40px; 
    margin: 20px; 
    margin-right: 800px;
}

.intro-section h2 {
    position: absolute; 
    font-size: 1.5rem;
    font-weight: bold;
    top: 20%; 
    left: 12.7%; 
    transform: translate(-50%, -50%); 
    text-align: center;
}

.intro-section img {
    width: 15rem;
    border-radius: 5px;
    margin-left: auto; 
}

.intro-section fieldset {
    border: 2px solid #ff4500;
    border-radius: 5px;
    padding: 1rem;

}
  
.intro-section p {
    flex: 1; 
    text-align: justify; 
}

.warthog-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.warthog-section h2 {
    position: absolute; 
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    left: 87%;
    transform: translate(-50%, -50%); 
}

.warthog-section > img {
    position: relative;
    width: 15rem;
    border-radius: 5px;
    align-self: center;
    left: 80%;
}

.warthog-section fieldset {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    border: 2px solid #ff4500;
    border-radius: 5px;
    padding: 1rem;
    right: -10%;
}

.warthog-section fieldset img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.warthog-section fieldset p {
    flex: 1;
    text-align: justify;
}

.breachcutter-section {
    padding: 3.5rem;
    display: flex; 
    align-items: center; 
    gap: 40px; 
    margin: 20px; 
    margin-right: 800px;
}

.breachcutter-section h2 {
    position: absolute; 
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    top: 110%;
    left: 12.7%; 
    transform: translate(-50%, -50%); 
}

.breachcutter-section img {
    width: 15rem;
    border-radius: 5px;
    margin-right: auto; 
    left: 5%;
}

.breachcutter-section fieldset {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    border: 2px solid #ff4500;
    border-radius: 5px;
    padding: 1rem;
}

.breachcutter-section fieldset img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.breachcutter-section fieldset p {
    flex: 1;
    text-align: justify;
}