@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    background-color: #1c1c1c;
    color: #ffffff;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header h1 {
    padding: 0.5rem;
}

header {
    padding: 2rem;
    background-color: #2a2a2a;
    color: #ffd700;
    text-align: center;
}

.eng-section {
    padding: 3.5rem;
    display: flex; 
    align-items: center; 
    gap: 40px; 
    margin: 20px; 
    margin-right: 800px;
}

.eng-section h2 {
    position: absolute; 
    font-size: 1.5rem;
    font-weight: bold;
    top: 20%; 
    left: 12.7%; 
    transform: translate(-50%, -50%); 
    text-align: center;
}

.eng-section img {
    width: 15rem;
    border-radius: 5px;
    margin-left: auto; 
}

.eng-section fieldset {
    border: 2px solid #ff4500;
    border-radius: 5px;
    padding: 1rem;
}
  
.eng-section p {
    flex: 1; 
    text-align: justify; 
}

.scout-section {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
}

.scout-section h2 {
    position: absolute; 
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    left: 87%;
    transform: translate(-50%, -230%); 
}

.scout-section img {
    position: relative;
    width: 15rem;
    border-radius: 5px;
    left: 80%;
    transform: translate(0%, -10%);
}

.scout-section fieldset {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    border: 2px solid #ff4500;
    border-radius: 5px;
    padding: 1rem;
    transform: translate(60%, -10%);
}

.scout-section fieldset p {
    flex: 1;
    text-align: justify;
}

.driller-section {
    padding: 3.5rem;
    display: flex; 
    align-items: center; 
    gap: 40px; 
    margin: 20px; 
    margin-right: 800px;
}

.driller-section h2 {
    position: absolute; 
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    top: 110%;
    left: 12.7%; 
    transform: translate(-50%, -600%); 
}

.driller-section img {
    width: 15rem;
    border-radius: 5px;
    margin-right: auto; 
    left: 50%;
    transform: translate(0%,  25%);
}

.driller-section fieldset {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1rem;
    border: 2px solid #ff4500;
    border-radius: 5px;
    padding: 1rem;
    transform: translate(-5%, 30%);
}

.driller-section fieldset p {
    flex: 1;
    text-align: justify;
}